#ikona
      {
          margin-left: 100px;
      list-style-image: url(../img/flaga.jpg); }


#Mateusz{  list-style-image: url(img/mateusz.jpg); }
#Roman{ list-style-image: url(img/Bolek.jpg);}
#Anna{ list-style-image: url(img/Artur.jpg);}
